div.input {
    width: 105ex; /* about 80 chars + buffer */
}

.input_prompt, .output_prompt {
    /*margin-left: 50px;*/
}

div.text_cell {
    width: 105ex /* instead of 100%, */
    margin-left: 0px;
}

.CodeMirror {
    font-family: Consolas, monospace;
}

div.text_cell_render{
    /*font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
    font-family: "Charis SIL", serif; /* Make non-code text serif. */
    line-height: 145%; /* added for some line spacing of text. */
    width: 105ex; /* instead of 'inherit' for shorter lines */ 
    /*font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
    font-size: 120%;
    margin-left:0px;
}

div.text_cell_render h1 {
	font-size: 24pt;
	color: rgb(192,80,77);
	background-color: rgb(245,245,245);
}

div.text_cell_render h2 {
	font-size: 20pt;
	color: rgb(31,73,125);
	background-color: rgb(242,242,242);
}

div.objectives {
    background-color: #FFFFCC;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: inherit;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    border: 1px solid;
    width: 600px;
}

div.exercice {
    background-color: #CCCCFF;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: inherit;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.1;
    border: 1px solid #000;
    width: 500px;
}

div.exercice h1{
    text-align: left;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #000;
    background-color: inherit;
}
